[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
flask = "*"
flask-restplus = "*"
requests = "*"
redis = "*"
celery = "*"
flower = "*"

[requires]
python_version = "3.7"
